.canvarsContiner{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.hostVideoPosition{
    position: absolute;
    top: 5px;
    right: 5px;
}

.canvarsPosition{
    width: 100%;
    height: 700px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(0, 0, 0);
}

.navPosition{
    position: absolute;
    bottom: 0;
    right: 0;
} 

.mainTable{
    background-color: rgb(245, 245, 200);
}

#videoPosition {
    width: 200px;
    background: transparent;
    background-color: rgba(255,255,255,0.9);
}

.remoteColumn{
    width: 200px;
    background: transparent;
    background-color: rgba(255,255,255,0.9);
}
video{
    width: 100%;
}

/* localVideo */