.Canvas {
  text-align: center;
}


.list {
  margin-left: 20%;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
  position: absolute ;
  z-index: 3;
}

.item {

  padding-right: 2rem;
  list-style: none;
  user-select: none;
}

.item:first-child {

  padding-left: 2rem;
}

.link {

  display: block;
  -webkit-user-drag: none;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 15%;
  cursor: pointer;
  /* -webkit-user-drag: none; */
}

.puzzleimage {
  margin-left: 70%;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 15%;
  cursor: pointer;
  -webkit-user-drag: none;
}


input[type=range] {
  width: 90px;
  background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #ececec 50%, #ececec 100%);
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  accent-color: #ffca1d;
  margin-left: 15px;
}


/* button[type=button] { */
.navBtn {
  border:transparent ;
  border-radius: 5px;
  padding : 1em 1em;
  margin : 5px 5px;
  background-color: rgba(100,200,200,0.4);
  color: black;
  font-size: 0.7em;
} 
#canv{
  width: 100%;
}
#buttonGroup {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  align-items: left;
  position: absolute;
  z-index: 50;
  border-radius: 50px 0 0 0px;
  
}
#buttonGroup button {
  font-size: 1em;
  margin: 0;
}
#buttonGroup button:hover {
  color: rgba(255,0,0,0.9);
  transform: scale( 1.5, 1.5 );
  background: none;
}

.figuresContiner{
  display: block;
  width: 100px;
}

.figuresChilgyoBox{
  display: inline-block;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  width: 100px;
  margin-left: 10px; 
  text-align: center;
}

.figuresBox{
  display: block;
  
}

.materialContiner{
  display: block; 
  
}

.materialBox{
  display: inline-block;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  width: 100px; 
  margin-left: 25px; 
  text-align: center;
}

.drowContainer{
  display: block;
  width: 100px;
}

.drowBox{
  display: inline-block;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  width: 100px; 
  margin-left: 15px; 
  text-align: center;
}

.colorPicker{
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 28px;
  border: none;
  background-color: transparent;
}

.colorPicker::-webkit-color-swatch {
  border-radius: 50%;
}


.canvarsPosition {
  position: relative;
}

.mouse{
  position : relative;
}

.namefill {
  /* position: absolute; 
  z-index: 30;
  /* background-image: .17346.png; */
  /* background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: visible;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  /* align-items: center; */ 


  overflow: hidden;
  top: 10px;
  left: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 0.5rem;
  
}



/* .mousePosition span {
  font-size: 18px;
  color: white;
  font-weight: 800;
  overflow: visible;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */