.Canvas {
  text-align: center;
}


.list {
  margin-left: 20%;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
  position: absolute ;
  z-index: 3;
}

.item {

  padding-right: 2rem;
  list-style: none;
  user-select: none;
}

.item:first-child {

  padding-left: 2rem;
}

.link {

  display: block;
  -webkit-user-drag: none;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 15%;
  cursor: pointer;
  /* -webkit-user-drag: none; */
}

.puzzleimage {
  margin-left: 70%;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 15%;
  cursor: pointer;
  -webkit-user-drag: none;
}


input[type=range] {
  width: 90px;
  background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #ececec 50%, #ececec 100%);
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  accent-color: #ffca1d;
  margin-left: 15px;
}


/* button[type=button] { */
.navBtn {
  border:transparent ;
  border-radius: 5px;
  padding : 1em 1em;
  margin : 5px 5px;
  background-color: rgba(100,200,200,0.4);
  color: black;
  font-size: 0.7em;
} 
#canv{
  width: 100%;
}
#buttonGroup {
  display: flex;
  padding: 15px 0 0 20px;
  align-items: center;
}
#buttonGroup button {
  font-size: 1em;
  margin: 0;
}
#buttonGroup button:hover {
  color: rgba(255,0,0,0.9);
  transform: scale( 1.5, 1.5 );
  background: none;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
