* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    padding: 0; 
    margin : 0;
  }

.canvarsContiner{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 3; 
    padding-left: 3% ;
}

.canvarsContiner:after {
    background-image: url("https://blog.kakaocdn.net/dn/dYrOg0/btrG9LtIQq6/BEIFN8upCK3vWud04oPkH1/img.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    top: 30px;
    left:0;
    position:absolute;
    opacity: 0.5;
    filter:alpha(opacity=100);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
}



/* 왼쪽 하단의 선생님 화면 정보 */
.hostVideoPosition{
    position: absolute;
    bottom: 3%;
    left: 50px;
}
/* 오른쪽에 학생들 화면 */
.guestVideoPosition{
    position: absolute;
    top: 50px;
    right: 50px;
}

/* 캔버스 자체 */
.canvarsPosition{
    margin-top: 1%;
    width: 94vw;
    height: 98vh;
    background-color: rgba(255,255,255,0.9);
    border-radius: 50px;
}

#hostCol, #videoContainer {
    width: 11em;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

#hostCol {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hostName {
    display: block;
    margin: 7px;
    font-size: 24px;
  }

video{
    border-radius: 20px;
    width: 100%;

}
.controllers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 3px;
    right: 1px;

}
.controllers button {
    padding: 4px 12px 1px 12px;
    margin: 5px 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    border: none
}
.controllers button:hover {
    background-color: rgba(245, 202, 62, 0.7);
    transform: scale( 1.1, 1.1 )
} 

.micAndVid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#localUserName, .guestNameDisplay {
    margin-right: 1em;
    /* margin: 10px 4px; */
    font-size: 1.2em;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 6px 12px;
    border-radius: 20px;
}

