* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
  }


.canvarsContiner{
    position: relative;
    overflow: hidden;
    height: 100vh;
    z-index: 3; 
    padding: 1.5% 1% 2% 1% ;
}

/* 캔버스 배경화면  */
.canvarsContiner:after {
    background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxNjEyMTBfMjM5/MDAxNDgxMzA1NjQ4NTQ4.3lNIEB9BtSHgqItkIrujffxMVY53x2ZbwDDn-AMxxJEg.Aig5AtPOzRrtfAUpMuhDI5ocy_nOdCdu9tcUp0gMBKgg.PNG.rimiy/%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C1.PNG?type=w800"); 
    background-repeat: repeat;
    background-size: contain;
    top:0;
    left:0;
    position:absolute;
    opacity: 0.9;
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
}

/* 캔버스 자체 */
.canvarsPosition{
    background-color: rgba(255,255,255,0.9);
    border-radius: 50px;
}

/* 왼쪽 하단의 선생님 화면 정보 */
.hostVideoPosition{
    position: absolute;
    bottom: 2.5%;
    left: 1.5%;
}
/* 오른쪽에 학생들 화면 */
.guestVideoPosition{
    position: absolute;
    top: 3%;
    right: 1%;
}
/* 선생님 화면, 학생 화면 공통 */
#hostCol, #videoContainer {
    width: 12em;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

/* 선생님 화면 */
#hostCol {
    width: 20em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hostName {
    margin: 7px;
    font-size: 24px;
}

video{
    border-radius: 12%;
    width: 100%;
}

.controllers {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.controllers button {
    padding: 4px 14px 1px 14px;
    margin: 5px 4px;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 20px;
    border: none
}
.controllers button:hover,.controllers svg:hover  {
    transform: scale( 1.1, 1.1 );
    width: 40;
} 

.micAndVid {
    width: 93%;
    display: flex;
    justify-content: flex-end;
    position: absolute ;
    bottom: 2px;
}
/* 학생화면에서의 학생과 선생님이 보는 학생 이름 */
#localUserName, .guestNameDisplay {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    font-weight: 800;
}

#guestMeWarp {
    position: relative;
}
