.quizWrapper {
    background-color: white;
    padding: 20px 40px;
    margin : 30px auto;
    width: 70%; 
    text-align: center;
}
#ques {
    font-size: 24px;
}
#imgAnswersWrapper {
    display: flex;
    justify-content: center;
    padding: 10px 20px; 
}

#imgAnswersWrapper img {
    width: 20%;
    margin: 10px 20px;
}

